<!--in order to load css in static folder-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Sekyun Oh</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
  <!--Customize css-->
  <link href="{% static 'css/customize.css' %}" rel="stylesheet">
  <!--custom JavaScript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="http://sekyunoh.info" target="_blank">Sekyun Oh</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 id='description' class="mb-5">A bot searches all YouTube videos based on your keyword!</h1>
          <div class="radio">
            <div>
              <input id='radioKeyword' type="radio" name="search" value="keyword" checked/> Keyword Search
            </div>
            <div>
              <input id='radioChannel' type="radio" name="search" value="channel" /> Channel Search
            </div>
          </div>
          <div id='date' class="period">
            <div>
              From:
              <input id='from' type="date" name="period" min="2005-02-01" value='2005-02-01'>
            </div>
            <div>
              To:
              <input id='to' type="date" name="period" max="2019-12-31">
            </div>
          </div>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div id='inputForm' class="col-12 col-md-9 mb-2 mb-md-0">
                <input id="keyword" type="text" class="form-control form-control-lg" placeholder="Enter your keyword." minlength='1'>
              </div>
              <div class="col-12 col-md-3">
                <button id="search" type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
  </div> -->

  <div id="video-container">
    <div id="sub-container">

    </div>
  </div>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="http://sekyunoh.info/about" target="_blank">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="http://sekyunoh.info/contact" target="_blank">Contact</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Sekyun Oh 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://github.com/dhtprbs12" target="_blank">
                <i class="fab fa-github fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="https://www.linkedin.com/in/sekyun-oh-b1a7bb172/" target="_blank">
                <i class="fab fa-linkedin fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/sekyunoh/" target="_blank">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
